@page
@model IndexModel
@{
    ViewData["Title"] = "Sobre nós";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Sobre nós</h1>
        <p></p>
        <p class="Sob2">Criado em 2022, a EcoLife tem como seu principal objetivo conscientizar toda a população de Salvador/Ba, para transfomar nossa cidade mais sustentável no uso de plásticos na capital. Nosso site oferece varíos produtos biodegradáveis e ecológicos , visando a substituição de plástico em diversas aplicações diárias.Além disso, apoiamos e incentivamos a participação em petições direcionadas ao governo, buscando impulsionar mudanças significativas nos hábitos das empresas e social, em prol de um futuro mais sustentável </p>
    </div>

</body>
</html>

<style>
    .Sob2{
        font-size: 170%;
        position: relative;
    }

</style>

